* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #333;
}

header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header .logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ccc;
}

header .search-icon img {
    width: 20px;
    cursor: pointer;
}

.hero {
    position: relative;
    background: url('gatenhos_temp.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: 700; /* Peso forte para o título */
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 18px;
    font-weight: 400; /* Peso regular para o subtítulo */
}

footer {
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 400; /* Peso regular para o texto do rodapé */
}
