/* CSS Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0
}

.current-photo img.profile-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%; /* Exibir como círculo, opcional */
    margin-bottom: 15px;
}

nav {
    background-color: #000;
    font-family: 'Oxanium';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
}

/* Logo no canto esquerdo */
.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: #f2f2f2;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Define a altura da imagem para se ajustar à altura da navbar */
    width: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    filter: invert(50%); /* Inverte as cores da imagem */
    object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
}

.logo:hover {
    color: #ccc;
}

/* Estilo da lista da Navbar */
.topnav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex: 2; /* Garante que a lista ocupe o restante do espaço */
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27 px;
    display: inline-block;
}

.topnav a:hover {
    color: #ccc;
}
/* Fim CSS global */

.page-content {
    width: 100%;
    margin: 0 auto;
    background: #333;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
}


input[type="submit" i] {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}


.input-file::-webkit-file-upload-button:hover {
    background: #449e49;
}

/* Footer */
footer {
    font-family: 'Oxanium';
    background-color: #000;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #f2f2f2;
}
