{% extends "layout.html" %}

{% block titleEcss %}
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pets_register.css') }}">
{% endblock titleEcss %}

{% block conteudo %}
<div class="page-content">
    <div class="form-v10-content">
        <form class="form-detail" action="{{ url_for('cadastro') }}" method="post" enctype="multipart/form-data">
            <!-- Campo de segurança CSRF -->
            {{ form.hidden_tag() }}

            <div class="form-left">
                <h2>Informações Gerais</h2>
                <div class="form-row">
                    <div class="form-row form-row-1">
                        {{ form.primeiroNome.label }}
                        {{ form.primeiroNome(class="input-text") }}
                        {% if form.primeiroNome.errors %}
                            <div class="error">{{ form.primeiroNome.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row form-row-2">
                        {{ form.sobrenome.label }}
                        {{ form.sobrenome(class="input-text") }}
                        {% if form.sobrenome.errors %}
                            <div class="error">{{ form.sobrenome.errors[0] }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row form-row-3">
                        {{ form.fotoPerfil.label }}<br>
                        {{ form.fotoPerfil(class="input-file") }}
                        {% if form.fotoPerfil.errors %}
                            <div class="error">{{ form.fotoPerfil.errors[0] }}</div>
                        {% endif %}
                    </div>
                </div>

                <h2>Informações de Contato</h2>
                <div class="form-row">
                    {{ form.rua.label }}
                    {{ form.rua(class="input-text") }}
                    {% if form.rua.errors %}
                        <div class="error">{{ form.rua.errors[0] }}</div>
                    {% endif %}
                </div>

                <div class="form-row">
                    {{ form.complemento.label }}
                    {{ form.complemento(class="input-text") }}
                    {% if form.complemento.errors %}
                        <div class="error">{{ form.complemento.errors[0] }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="form-row form-row-1">
                        {{ form.cep.label }}
                        {{ form.cep(class="input-text") }}
                        {% if form.cep.errors %}
                            <div class="error">{{ form.cep.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row form-row-2">
                        {{ form.numero.label }}
                        {{ form.numero(class="input-text") }}
                        {% if form.numero.errors %}
                            <div class="error">{{ form.numero.errors[0] }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row form-row-1">
                        {{ form.ddd.label }}
                        {{ form.ddd(class="input-text") }}
                        {% if form.ddd.errors %}
                            <div class="error">{{ form.ddd.errors[0] }}</div>
                        {% endif %}
                    </div>

                    <div class="form-row form-row-2">
                        {{ form.celular.label }}
                        {{ form.celular(class="input-text") }}
                        {% if form.celular.errors %}
                            <div class="error">{{ form.celular.errors[0] }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    {{ form.email.label }}
                    {{ form.email(class="input-text") }}
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors[0] }}</div>
                    {% endif %}
                </div>

                <div class="form-row">
                    {{ form.senha.label }}
                    {{ form.senha(class="input-text") }}
                    {% if form.senha.errors %}
                        <div class="error">{{ form.senha.errors[0] }}</div>
                    {% endif %}
                </div>

                <div class="form-row">
                    {{ form.senhaConfirmar.label }}
                    {{ form.senhaConfirmar(class="input-text") }}
                    {% if form.senhaConfirmar.errors %}
                        <div class="error">{{ form.senhaConfirmar.errors[0] }}</div>
                    {% endif %}
                </div>

                <div class="form-row-last">
                    {{ form.cadastrarBotao(class="register") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}