{% extends "layouts/layout.html" %}

{% block titleEcss %}
    <title>Lista de ONGs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ongsList.css') }}">
{% endblock titleEcss %}

{% block conteudo %}
    <main>
        <section class="ongsList">
            {% for ong in ongs %}
                <div class="ongsList-item">
                    <img src="{{ url_for('static', filename=ong.foto_perfil_Logo.replace('static/', '').replace('\\', '/')) }}"
                         alt="{{ ong.descricao_foto_perfil_Logo }}">
                    <img src="{{ url_for('static', filename=ong.foto_qrCode.replace('static/', '').replace('\\', '/')) }}"
                         alt="{{ ong.descricao_foto_qrCode }}">

                    <h3>{{ ong.nome }}</h3>
                    <p><strong>Dados Bancários:</strong> {{ ong.dados_bancarios }}</p>
                    <p><strong>Instagram:</strong> {{ ong.instagram }}</p>
                    <p><strong>Rua:</strong> {{ ong.rua }}</p>
                    <p><strong>Número:</strong> {{ ong.numero }}</p>

                </div>
            {% endfor %}
        </section>

        <!-- Paginação -->
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('ongsList', page=page - 1) }}">Anterior</a>
            {% endif %}
            <span>Página {{ page }} de {{ total_pages }}</span>
            {% if page < total_pages %}
                <a href="{{ url_for('ongsList', page=page + 1) }}">Próxima</a>
            {% endif %}
        </div>
    </main>
{% endblock conteudo %}
