{% extends "layout.html" %}
{% block titleEcss %}
<title>Lista de pets para adoção</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/petsList.css') }}">
{% endblock titleEcss %}

{% block conteudo %}
<main>
    <section class="petsList">
        {% for animal in animais %}
        <div class="petsList-item">
            <img src="{{ url_for(animal.foto1) }}" alt="Imagem de {{ animal.nome }}">
            <h3>{{ animal.nome }}</h3>
            <p>{{ animal.descricao }}</p>
            <p>{{ animal.status }}</p>
            <p><em>{{ animal.ong.nome }}</em></p>
        </div>
        {% endfor %}
    </section>

    <!-- Paginação -->
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('petsList', page=page - 1) }}">Anterior</a>
        {% endif %}
        <span>Página {{ page }} de {{ total_pages }}</span>
        {% if page < total_pages %}
        <a href="{{ url_for('petsList', page=page + 1) }}">Próxima</a>
        {% endif %}
    </div>
</main>
{% endblock conteudo %}
