{% extends "layout.html" %}

{% block titleEcss %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock titleEcss %}

{% block conteudo %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<!-- Bloco de mensagens flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<!-- Fim do bloco de mensagens flash -->

<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}  <!-- Token CSRF -->

    <h3>Login</h3>

    <label for="email">Email</label>
    {{ form.email(class="form-control", id="email", placeholder="Email") }}
    
    <label for="password">Senha</label>
    {{ form.senha(class="form-control", id="password", placeholder="Senha") }}
    
    <button type="submit">{{ form.loginBotao() }}</button>  <!-- Botão de login -->

    <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>  <!-- Botão de login com Google -->
    </div>
    <a href="/recuperar" class="button">Esqueceu a senha?</a>
</form>
{% endblock conteudo %}